
<div class="list-group">
        <span class="list-group-item active">
          <span class="glyphicon glyphicon-tint"></span> {{bloodBag?.externalId}}
          </span>
    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label class="control-label col-sm-4" for="bloodProduct">Blood product:</label>
            <div class="col-sm-8">
                <p class="form-control-static">{{bloodBag?.bloodproduct}} -
                    {{bloodBag?.bloodproductSpecification}}</p>
            </div>
            <label class="control-label col-sm-4" for="antigens">Antigens</label>
            <div class="col-sm-8">
                <p class="form-control-static">{{bloodBag?.antigenList}}</p>
            </div>
            <label class="control-label col-sm-4" for="status">Status</label>
            <div class="col-sm-8">
                <p class="form-control-static">{{bloodBag?.webStatus}}</p>
            </div>
            <label class="control-label col-sm-4" for="checkedOut">Checked out</label>
            <div class="col-sm-8">
                <p class="form-control-static">{{bloodBag?.checkoutDateTime}}</p>
            </div>
            <label class="control-label col-sm-4" for="location">Location</label>
            <div class="col-sm-8">
                <p class="form-control-static">{{bloodBag?.location}}</p>
            </div>
            <label class="control-label col-sm-4" for="expirationDate">Expires</label>
            <div class="col-sm-8">
                <p class="form-control-static">{{bloodBag?.expirationDateTime}}</p>
            </div>
            <label class="control-label col-sm-4" for="responsible">Responsible HC Provider</label>
            <div class="col-sm-8">
                <p class="form-control-static">{{bloodBag?.transfusionHcProviderFullName}}</p>
            </div>
        </div>
    </form>
</div>